.addUsers{
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.header{
    font-size: 6vw;
    text-align: center;
    margin-top: 6%;
}

.forBubbles{
	display: grid;
	grid-template-columns: 33vw 33vw 33vw;
	grid-template-rows: 15vh 15vh 15vh;
	grid-gap: 2px;
	margin-top: 2vh;
}

.userInput{
	margin-top: 2vh;
	display: flex;
	justify-content: center;
	gap: 10%
}

.forBottom{
	display: flex;
	margin-top: auto;
	justify-content: center;
	margin-bottom: 2vh;
}

.complete {
	align-self: center;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
	box-sizing: border-box;
	color: #41403e;
	cursor: pointer;
	display: inline-block;
	font-family: Neucha, sans-serif;
	font-size: 1rem;
	line-height: 23px;
	outline: none;
	padding: .75rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.complete:hover {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
	transform: translate3d(0, 2px, 0);
  }
  
.complete:focus {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
/* .userInput{

} */

/* .outlined-basic{
    margin-left: 5px;
} */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}