.finalDisplay{
    display: flex;
    flex-flow: column;
    height: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.header{
    margin-bottom: 0;
}

.circleContainer{
    /* width: 5vw;
    height: 10vh; */
}

.eachUser{
    display:flex;
    grid-column: 2/5;
    justify-content: center;
}

.eachUserName{
    margin-right: 10vw;
    /* width: 50%; */
}

.eachUserOwes{
    margin-left: 10vw;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 3vh;
}

.finished {
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: 0.75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.finished:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.finished:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.eachItem{
    display: flex;
    font-size: 5vw;
    margin-bottom: 0;

}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(5, 20vw);
	grid-template-rows: repeat(8, 12%);
	grid-gap: 1px;
	margin-top: 2vh;
    height: 80%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}