html{
    height: 100%;
}

body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #ace3d5;
    /* background: rgb(30,188,155);
    background: linear-gradient(180deg, rgba(30,188,155,1) 0%, rgba(43,193,160,1) 19%, rgba(171,227,213,1) 69%); */
    /* background: rgb(26,194,159);
    background: linear-gradient(180deg, rgba(26,194,159,1) 60%, rgba(172,227,213,1) 100%); */
    font-family: 'Roboto', sans-serif;
}

.appBody {
    margin: 0;
    padding: 0;
    height: 100%;
}




/* testing desktop-second development */
/* @media (min-device-width: 600px) {
    .appBody {
        font-size: 100px;
    }
} */