html {
  height: 100%;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #22c09e;
  font-family: 'Patrick Hand', cursive;
}

.appBody {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

/* testing desktop-second development */
/* @media (min-device-width: 600px) {
    .appBody {
        font-size: 100px;
    }
} */
