.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.center {
    align-items: center;
    text-align: center;
}

.instructions {
    margin: 30px 0 0 0;
    font-size: 28px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #253237;
}

.imgDisplay {
    /* width: 100%; */
    max-width: 280px;
    max-height: 600px;
    border: 3px solid white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow-y: hidden;
}


.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}