.usersContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 10px;
}

.itemsContainer{
    display: flex;
    flex-direction: column;
}

.itemSet{
    display: flex;
    height: 5vh;
    margin-left: 3vw;
}
.checkBox{
    width: 5vw;
}