#Sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#SignInDiv {
  width: 18rem;
}
.loginDiv {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.loginDiv input {
  height: 2rem;
  width: 16rem;
  font-size: 20px;
}

.loginBtns {
  font-family: 'Patrick Hand', cursive;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 30px;
  outline: none;
  padding: 0.5rem;
  width: 17rem;
  text-align: center;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginBtns:hover {
  font-family: 'Patrick Hand', cursive;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.loginBtns:focus {
  font-family: 'Patrick Hand', cursive;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
